@import url('form.css');
@import url('users.css');
@import url('messages.css');
@import url('spinners.css');
@import url('register.css');


#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
