@import url('login.css');
@import url('login__input.css');
@import url('login__submit-button.css');
@import url('messages.css');

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
