.input,
.select {
  width: 100%;
  max-width: 250px;
  padding: 15px;
  border-radius: 7.5px;
  border: none;
}

.select {
  max-width: 280px;
}

.navigate-btn {
  width: 100%;
  max-width: 280px;
  margin-top: 10px;
  background-color: var(--back-color);
}
