.success-messages,
.error-messages {
  max-width: 275px;
  margin: 0 auto;
}

.success-message {
  color: var(--success-message);
}

.error-message {
  font-size: 0.85rem;
  color: var(--error-message);
}
