.users-table {
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 5px;
  overflow-x: auto;
  cursor: default;
}

.users-table th,
.users-table td {
  padding: 8px;
  border: 1px solid var(--white-color);
}

.users-table th {
  font-weight: bold;
  background-color: var(--thead-color);
}

.users-table tr:nth-child(even) {
  background-color: var(--tr-pair);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

@media (max-width: 640px) {
  .users-table {
    font-size: 0.85rem;
  }
}

.user-details {
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: left;
  background-color: var(--back-color);
}

.user-details-back-btn {
  position: absolute;
  top: -40px;
  left: 0;
  max-width: 200px;
  padding: 5px;
  border-radius: 8px 8px 0px 0px;
}